body{
  text-align: center;
  display: flex;

}

#container{
  margin: auto;
  border: black;
}

#display{
  border: 1px solid #ffffff;
  background-color: #519648;
  width: 129px;
  height: 40px;
  color: #ffffff;
}

.keys, #equal{
  height: 40px;
  width: 40px;
  outline: none;
  color: #ffffff;
  background-color: #519648;
  border-style: none;
  border: 1px solid #ffffff;
}

#add, #sub, #divide, #mul{
  height: 40px;
  width: 40px;
  color: #519648;
  background-color: #90ce88;
  border-style: none;
  border: 1px solid #ffffff;
}
